
.table2 {
	margin: auto;
	width: 100%;
	margin-bottom: 50px;
}

/* БОЛЬШЕ 1100px */	
@media screen and (min-width: 1100px) {
	/* ТАБЛИЦА */
.tablesorter {
	margin: auto;
	font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
	border-collapse:separate;
	text-align: center;
	bottom: 100;
	padding-bottom: 50;
	width: 80%;
}
.tablesorter thead th{
    padding: 10px;
    color: #fff;
	cursor: pointer;
    text-shadow: 1px 1px 1px #2393c2;
    border: 1px solid #71e3ed;
    border-bottom: 2px solid #29bed9;
    background-color: #2957d9;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(67,146,192)),
        color-stop(0.51, rgb(66,141,198)),
        color-stop(0.87, rgb(41,165,217))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tablesorter thead th:empty{
		background:transparent;
		border:none;
}
	.tablesorter tfoot td{
		color: #0979d0;
		font-size:32px;
		text-align:center;
		padding:10px 0px;
		text-shadow:1px 1px 1px #444;
	}
	.tablesorter tfoot th{
		color:#666;
	}
	.tablesorter tbody td{
		padding:4px;
		text-align:center;
		background-color:#cae6f3;
		border: 2px solid #e0e8ef;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:2px;
		color:#666;
		text-shadow:1px 1px 1px #fff;
	}

}		
/* МЕНЬШЕ 1100px */
@media screen and (max-width: 1100px) { 

.table2 {
  top: 145;
}	
.tablesorter {
	bottom: 100px;
	padding-bottom: 60px;
}	

.tablesorter table {
	margin: auto;
	font-family: "Trebuchet MS", sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
	border-collapse:separate;
	text-align: center;
}
.tablesorter thead th{
    padding:10px;
    color:#fff;
	cursor: pointer;
    text-shadow:1px 1px 1px #2393c2;
    border:1px solid #71e3ed;
    border-bottom:2px solid #29bed9;
    background-color:#2957d9;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(67,146,192)),
        color-stop(0.51, rgb(66,141,198)),
        color-stop(0.87, rgb(41,165,217))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
	.tablesorter thead th:empty{
		background:transparent;
		border:none;
	}
	.tablesorter tfoot td{
		color: #0979d0;
		font-size:32px;
		text-align:center;
		padding:10px 0px;
		text-shadow:1px 1px 1px #444;
	}
	.tablesorter tfoot th{
		color:#666;
	}
	.tablesorter tbody td{
		padding:4px;
		text-align:center;
		background-color:#cae6f3;
		border: 2px solid #e0e8ef;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:2px;
		color:#666;
		text-shadow:1px 1px 1px #fff;
	}

}	
/* МЕНЬШЕ 735px */
@media screen and (max-width: 735px) { 
		
}